<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head'); -%>
	</head>

	<body>
		<!-- Page Preloder -->
		<%- include('partials/loder'); -%>

		<!-- header section -->
		<%- include('partials/header'); -%>
		<!-- header section end-->

		<!-- Header section  -->
		<%- include('partials/nav'); -%>
		<!-- Header section end -->

		<!-- Breadcrumb section -->
		<div class="site-breadcrumb">
			<div class="container">
				<a href="#"><i class="fa fa-home"></i> Home</a>
				<i class="fa fa-angle-right"></i>
				<span>Contact</span>
			</div>
		</div>
		<!-- Breadcrumb section end -->

		<!-- Conatct section -->
		<%- include('partials/ctc'); -%>

		<!-- Footer section -->
		<%- include('partials/footer'); -%>
		<!-- Footer section end-->

		<!--====== Javascripts & Jquery ======-->
		<%- include('partials/scripts'); -%>
	</body>
</html>
