<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head'); -%>
	</head>

	<body>
		<!-- Page Preloder -->
		<%- include('partials/loder'); -%>

		<!-- header section -->
		<%- include('partials/header'); -%>

		<!-- Header section  -->
		<%- include('partials/nav'); -%>

		<!-- Hero section -->
		<%- include('partials/hero'); -%>

		<!-- Counter section  -->
		<%- include('partials/counter'); -%>

		<!-- About Section -->
		<%- include('partials/abt'); -%>

		<!-- Services section -->
		<%- include('partials/services'); -%>

		<!-- Enroll section -->
		<%- include('partials/enroll'); -%>

		<!-- Courses section -->

		<%- include('partials/event'); -%>

		<!-- Fact section -->
		<%- include('partials/fact'); -%>

		<!-- Event section -->

		<!-- Gallery section -->

		<!-- Blog section -->

		<!-- Newsletter section -->

		<!-- Footer section -->
		<%- include('partials/footer'); -%>

		<!--====== Javascripts & Jquery ======-->
		<%- include('partials/scripts'); -%>
	</body>
</html>
