<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head'); -%>
	</head>

	<body>
		<!-- Page Preloder -->
		<%- include('partials/loder'); -%>

		<!-- header section -->
		<%- include('partials/header'); -%>
		<!-- header section end-->

		<!-- Header section  -->
		<%- include('partials/nav'); -%>
		<!-- Header section end -->

		<!-- Breadcrumb section -->
		<div class="site-breadcrumb">
			<div class="container">
				<a href="/"><i class="fa fa-home"></i> Home</a>
				<i class="fa fa-angle-right"></i>
				<span>Subjects</span>
			</div>
		</div>
		<!-- Breadcrumb section end -->

		<!-- About section -->
		<section class="about-section spad pt-0">
			<div class="container">
				<p class="tagline"><span class="quotation_symbol">"</span>Viewing education through the eyes of the learner<span class="quotation_symbol">"</span></p>
				<div class="row">
					<div class="col-lg-6 about-text my-5">
						<h5>Our Subjects</h5>
						<p>
							Thank you for your interest. You may be a parent seeking to help
							your child improve grades in Math, a student trying to make sense
							of Calculus or an adult learner wishing to learn programming. We
							take pride in offering a nurturing learning environment where your
							learning goals are fulfilled. A brief list of the topics is
							provided below. Most of them are K-12 topics and a few are college
							level. In case you do not find what you are looking for, please
							let us know. We would be happy to help, if possible
						</p>
					</div>
					<div class="col-lg-6 pt-5 pt-lg-0">
						<img
							src="/img/subject_learnercentric.jpg"
							alt=""
							class="img_styling"
						/>
					</div>
				</div>
				<div class="col-lg-12 head-text my-5">
					<h2>List of Subjects</h2>
				</div>
				<div id="indus" class="row">
					<div class="col-md-6 subject-text list-item my-5">
						<h5>Foundational</h5>
						<ul>
							<li>Basic Math Skills</li>
							<li>Fun with Math</li>
							<li>Fun with Coding</li>
							<li>Pre-Algebra</li>
							<li>Algebra 1</li>
							<li>Geometry</li>
							<li>Algebra 2</li>
							<li>Physics (Intro)</li>
							<li>Chemistry (Intro)</li>
						</ul>
					</div>
					<div class="col-md-6 list-item subject-text my-5">
						<h5>College Level</h5>
						<ul>
							<li>AP Calculus (AB, BC)</li>
							<li>AP Physics (1,2,C)</li>
							<li>AP Chemistry</li>
							<li>AP Probability and Statistics</li>
							<li>AP Computer Science</li>
							<li>Calculus 2,3,4</li>
							<li>Introduction to Programming</li>
							<li>Data Structures and Algorithms</li>
							<li>Introduction to Data Science</li>
						</ul>
					</div>
					<div class="col-md-6 list-item subject-text my-5">
						<h5>Advanced</h5>
						<ul>
							<li>Pre-Calculus</li>
							<li>Calculus</li>
							<li>Probability and Statistics</li>
							<li>Trigonometry</li>
							<li>Physics (Honors)</li>
							<li>Chemistry (Honors)</li>
						</ul>
					</div>
					<div class="col-md-6 list-item subject-text my-5">
						<h5>Test Prep</h5>
						<ul>
							<li>SAT (General)</li>
							<li>ACT</li>
							<!-- <li>SAT (Math 1,2)</li>
							<li>SAT (Physics)</li>
							<li>SAT (Chemistry)</li> -->
							<li>SSAT & ISEE</li>
							<li>GMAT (Math)</li>
							<li>GRE (Math)</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<!-- About section end-->

		<!-- Footer section -->
		<%- include('partials/footer'); -%>
		<!-- Footer section end-->

		<!--====== Javascripts & Jquery ======-->
		<%- include('partials/scripts'); -%>
	</body>
</html>
